<div class="booyah-box col-10 offset-1">
  <h1 align="center">About Me</h1>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Anthony Mazzola</h2>
      <br />
      <p>
        Anthony (aka Cybin Caps) is a young artist living in Florida. After moving from his hometown, Akron Ohio, at 19 years old Anthony found himself in a new area trying lots of new things. As a creative person, Anthony feels that discovering artisan keycaps opened up the door to express himself in an artistic way that he desperately needed, weather he knew it at the time or not.
      <br />
      <br />
        While Anthony is not casting or creating he works full time and is currently in school for full stack web development. He hopes that one day he can utilize his web development skills to assist in his dream of being self employed with more spare time for art.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>