<div class="booyah-box col-10 offset-1">
  <h1 align="center">Cybin Caps</h1>
  <h2 align="center">Handmade Artisan Keycaps</h2>

  <div class="container">
   <div class="col-sm" align="center">
    <%= image_tag 'homepage.jpg', class: 'img-fluid', size: '700x700' %>
   </div>
  </div>

  <br />
  <div class="row feature text-center">
    <div class="col col-sm">
      <%= link_to 'Head to the shop', shop_path, class: 'btn btn-danger btn-lg' %>   
    </div>
  </div>
</div>
